body {
    background-color: #c1f5e6;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }

main {
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
}

.time-container {
    border: 2px solid black;
    border-radius: 8px;
    font-size: 100px;
    width: 320px;
    text-align: center;
     
}

.time {
}

.container1 {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container2 {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.score-container {
    font-size: 20px;
}

.hidden {
    visibility: hidden;
}

.button {
    background-color: #4CAF50; /* Green */
    border: black;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 40px;
    transition-duration: 0.4s;

  }
  
  .button:hover {
    background-color: #0fa514; /* Green */
    color: rgb(0, 0, 0);